@charset "utf-8";
/* CSS Document */
/*
==========================================================
font-family:'proxima_nova_rgregular', Arial, Helvetica, sans-serif;
font-family:'proxima_novasemibold', Arial, Helvetica, sans-serif;
font-family:'proxima_nova_rgbold', Arial, Helvetica, sans-serif;
font-family:'roadradioregular', Arial, Helvetica, sans-serif;
font-family:'proxima_novalight', Arial, Helvetica, sans-serif;
==========================================================
*/

@font-face {
    font-family:'proxima_nova_rgregular';
    src: url('fonts/proxima_nova_reg-webfont.eot');
    src: url('fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_reg-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family:'proxima_novasemibold';
    src: url('fonts/proxima_nova_sbold-webfont.eot');
    src: url('fonts/proxima_nova_sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_sbold-webfont.woff2') format('woff2'),
         url('fonts/proxima_nova_sbold-webfont.woff') format('woff'),
         url('fonts/proxima_nova_sbold-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_sbold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roadradioregular';
    src: url('fonts/glen_jan_-_roadradio-webfont.eot');
    src: url('fonts/glen_jan_-_roadradio-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glen_jan_-_roadradio-webfont.woff2') format('woff2'),
         url('fonts/glen_jan_-_roadradio-webfont.woff') format('woff'),
         url('fonts/glen_jan_-_roadradio-webfont.ttf') format('truetype'),
         url('fonts/glen_jan_-_roadradio-webfont.svg#roadradioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{color:#333; font-family:'proxima_nova_rgregular', Arial, Helvetica, sans-serif; background:#fff; font-size:62.5%; line-height:1.3; -webkit-text-size-adjust:none;}
body,html{overflow-x:hidden;}
a span,
a{color:#1f34b2 !important; text-decoration:underline; outline:none;}
a:hover{text-decoration:none !important;}
p{color:#333; font-size:1.6em; padding:10px 0;}
ul{color:#333; font-size:1.6em;}
input, textarea, select{color:#333; outline:none; font-size:1.6em; vertical-align:middle; font-family:'proxima_nova_rgregular', Arial, Helvetica, sans-serif;}
/*input[type=text], textarea, select{-webkit-appearance:none; border-radius:0;}*/

.wrapper{width:962px; margin:0 auto;}

/*===================================================================================*/
/*HOMEPAGE START=====================================================================*/
/*===================================================================================*/
.WordSection1{max-width:960px; margin:0 auto; padding:0 15px;}
.WordSection1 img{max-width:90%; height:auto; margin:0 auto;}

.MsoNormal b{color:#333; font-family:'proxima_nova_rgbold'; font-weight:normal;}

.WordSection1 a{text-decoration:none;}
.WordSection1 a:hover{text-decoration:underline;}

.MsoListParagraph{color:#c10d19; font-family:'proxima_nova_rgbold'; font-weight:normal;}
.MsoListParagraph b{font-weight:normal;}


.MsoNormalTable{border:1px solid #fff;}
.MsoNormalTable td{border:1px solid #fff; background:#c2c2c2; padding:5px 10px;}
.MsoNormalTable th{border:1px solid #fff; background:#c70a00; color:#fff;}
.MsoNormalTable th b{color:#fff;}

.list_item{}
strong{font-weight:normal; float:left; width:60px;}

h2{
	color: #1A1E23 !important;
	font-size: 40px;
	font-family: 'proxima_novalight', Arial, Helvetica, sans-serif;
	width: 100%;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 30px 0 25px 0;
	border: none;
	float: left;
	letter-spacing: 1.5px;
}
h2 b{font-weight:normal; color: #1A1E23 !important;}
h2 a{text-decoration:none;color: #1A1E23 !important;}
h2 a span{text-decoration:none;color: #1A1E23 !important;}
h3{
	color: #C10D19 !important;
	font-size: 16px;
	font-family: 'proxima_nova_rgbold', Arial, Helvetica, sans-serif;
	width: 100%;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	float: left;
	padding: 20px 0 10px 0;
}
h3 b{font-weight:normal; color: #C10D19 !important;}
h3 a,
h3 a span{text-decoration:none;}
h4{
	color: #333333;
	font-size: 16px;
	font-family: 'proxima_nova_rgbold', Arial, Helvetica, sans-serif;
	width: 100%;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	float: left;
	padding: 20px 0 10px 0;
}
h4 b{font-weight:normal;}

h5{
	color: #333333;
	font-size: 16px;
	font-family: 'proxima_nova_rgbold', Arial, Helvetica, sans-serif;
	width: 100%;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	float: left;
	padding: 5px 0 20px;
}
h5 b{font-weight:normal;}

ol{font-size:1.6em; padding:15px 20px; clear:both;}
ol li{list-style:lower-alpha; padding:5px;}

ul{font-size:1.6em; padding:15px 20px; clear:both;}
ul li{list-style:disc; padding:5px;}
ul li ul{font-size:1em;}

ul.numeric li{list-style:decimal;}
ul.numeric li ul{font-size:1em;}
ul.numeric li ul li{list-style:lower-alpha;}

ul.alpha li{list-style:lower-alpha;}
ul.alpha li ul{font-size:1em;}
ul.alpha li ul li{list-style:disc;}
ul li p{font-size:1em;}



/*===================================================================================*/
/*HOMEPAGE END=======================================================================*/
/*===================================================================================*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 960px) {
	
	
	
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.WordSection1{padding:0 10px;}

	.MsoNormalTable td{padding:5px 2px;}
	.MsoNormalTable td p,
	.MsoNormalTable th p{font-size:10px;}
	
	
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
}
